<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>ADH - Vaccine Tracker</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="nav.css">
  <link rel="stylesheet" href="styles.css">
  <link href="https://assets.website-files.com/6017e7ecb14082cec5d531af/6070172a89dbc227ca8268ca_adh-favicon.png" rel="shortcut icon" type="image/x-icon">

  <script>
    window.Userback = window.Userback || {};
    Userback.access_token = '7688|59514|ha8YH6mRJBS2dBoMh4GPd5I1qncr7GqYxyNMjBOSgrHO5Z1b44';
    (function(d) {
        var s = d.createElement('script');s.async = true;
        s.src = 'https://static.userback.io/widget/v1.js';
        (d.head || d.body).appendChild(s);
    })(document);
</script>

</head>

<body>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light custom-nav" id="navigation">
    <div class="container">
      <a class="navbar-brand" href="https://www.africadatahub.org/">
          <img src="https://assets.website-files.com/6017e7ecb14082cec5d531af/605dc8591d244b03000f013c_adh-logo.svg" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item custom-nav-item">
            <a class="nav-link" aria-current="page" target="_blank" href="https://www.africadatahub.org/data-resources">Data Resources </a>
          </li>
          <li class="nav-item custom-nav-item">
            <a class="nav-link" target="_blank"  href="https://www.africadatahub.org/about">About</a>
          </li>
          <li class="nav-item custom-nav-item social-media">
            <a class="nav-link" target="_blank"   href="https://twitter.com/Africa_DataHub"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="nav-item custom-nav-item social-media">
            <a class="nav-link " target="_blank" href="https://www.facebook.com/Africa-Data-Hub-107705861410896" ><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="nav-item custom-nav-item social-media">
            <a class="nav-link " target="_blank" href="https://www.linkedin.com/company/africa-data-hub/about/?viewAsMember=true" ><i class="fab fa-linkedin-in"></i></a>
          </li>
          <li class="nav-item custom-nav-item social-media">
            <a class="nav-link " target="_blank" href="https://www.instagram.com/africadatahub/" ><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
        <div class="mobile-social-media">
            <a class="social-media-link" href="https://twitter.com/Africa_DataHub" target="_blank"  ><i class="fab fa-twitter"></i></a>
            <a class="social-media-link " target="_blank" href="https://www.facebook.com/Africa-Data-Hub-107705861410896" ><i class="fab fa-facebook-f"></i></a>
            <a class="social-media-link " target="_blank"  href="https://www.linkedin.com/company/africa-data-hub/about/?viewAsMember=true"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-media-link " target="_blank" href="https://www.instagram.com/africadatahub/" ><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
</nav>

    <!--Navbar-->

  <div id="app">
    <div class="loading-overlay" v-if="loading"><img src="images/loading.svg"></div>
    <div class="tooltip" v-html="tooltipContent"></div>
    <div class="header">
      <div class="header-inner container">
        <div class="container d-flex align-items-center">
          <div class="row w-100">
            <div class="col-12 p-0">
              <!-- <div class="header-inner-title">COVID Vaccine Tracker</div> -->
              <h3 class="title">COVID Vaccine Tracker</h3>
              <a class="btn-back" href="https://www.africadatahub.org/"><i class="fas fa-arrow-left"></i> Back</a>
            </div>
          </div>
        </div>
        <nav id="nav">
          <div class="nav-item dropdown ml-0" @click="countryDropdown = !countryDropdown">
            Choose Country<img class="select-arrow" alt="down-arrow" src="images/down-arrow-white.svg">
            <div class="dropdown-menu" v-if="countryDropdown">
              <div class="dropdown-item" v-for="country in countries" @click="showCountry(country.iso_code)">{{
                country.location }}</div>
            </div>
          </div>
          <div class="nav-item chart-hidden">[ Nav Item ]</div>
          <div class="nav-item chart-hidden">[ Nav Item ]</div>
          <div class="nav-item chart-hidden">[ Nav Item ]</div>
          <div class="selected-box" v-if="currentCountry !== 'Africa'">
            <div class="selected-flag"
              :style="{'background-image': `url(https://hosted.mediahack.co.za/flags/${currentFlag})`}"></div>
            {{ currentCountry }} <div class="close-selected" @click="resetSelection">
              <i class="fas fa-times"></i>
            </div>
          </div>
        </nav>

      </div>
    </div>
    <div class="container">

      <!-- <header>
                <h1>ADH Vaccine Tracker</h1>
                
              </header> -->





      <section id="small-charts">

        <div class="chart">
          <div class="chart-title">Total vaccinations per 100 people</div>
          <div class="chart-wrap">
            <div class="chart-left">
              <div class="chart-number">{{ currentOverview.total_vaccinations_per_hundred }}</div>

            </div>

          </div>
        </div>
        <div class="chart">
          <div class="chart-title">Total vaccinations</div>
          <div class="chart-wrap">
            <div class="chart-left">
              <div class="chart-number">{{ currentOverview.total_vaccinations | formatMillions }}</div>

            </div>

          </div>
        </div>
        <div class="chart chart-hidden">
          <div class="chart-title">Chart Title</div>
          <div class="chart-wrap">
            <div class="chart-left">
              <div class="chart-number">XXX.X</div>

            </div>

          </div>
        </div>
        <div class="chart chart-hidden">
          <div class="chart-title">Chart Title</div>
          <div class="chart-wrap">
            <div class="chart-left">
              <div class="chart-number">XXX.X</div>

            </div>

          </div>
        </div>
      </section>

      <section id="main">
        <div class="main-box left-main">
          <div id="map">

            <div class="map-legend">
              <div class="map-legend-title">VACCINATIONS PER 100</div>
              <div class="map-legend-tiles">
                <div class="map-legend-label">0</div>
                <div class="map-legend-buckets"></div>
                <div class="map-legend-label">100</div>
              </div>
            </div>



          </div>
          <div class="info-panel">
            <div class="source-section-wrapper">
              <div class="source-section">
                <div class="source-section-left">
                  <span>Source: <a href="https://www.africadatahub.org/" target="_blank">Africa Data Hub (by Media Hack Collective)</a> </span>
                </div>
                <div class="source-section-right">
                  <!-- <span>
                    <a @click="embeddedCode" class="embed">Embed</a>
                    <a href="https://api.mediahack.co.za/adh/countries.csv" class="download-data" download>Download data</a>
                  </span> -->
                </div>
              </div>
            </div>
            <div class="methology-explainer">
              <p class="title">What is the Vaccine Tracker?</p>
              <p class="explainer">
                The Vaccine Tracker shows us how many vaccines each African country has administered and what types of vaccines are available. This vaccine tracker was created to provide nuance and detail for the African context. <br>
                Africa only comes up in the vaccine discussion when talking about how the continent has been neglected in comparison to others, but it is a fairer comparison to look at how African countries compare to one another. Journalists are encouraged to use this interactive dashboard to drill down into country specific data and to compare the different types and amounts of vaccines administered per country.  It also signals when there are gaps in the data for a specific country so that journalists take caution.<br><br>
                
                It's the first dashboard of its kind to track the types of vaccines for Africa. Data is drawn from numerous sources, is supplemented with news reports daily and is compiled by Media Hack Collective.
              </p>
            </div>
          </div>
        </div>
        <div class="main-box right-main">
          <div class="africa-box">
            <div class="box-title">
              <div class="box-flag"
                :style="{'background-image': `url(https://hosted.mediahack.co.za/flags/${currentFlag})`}"></div>
              <div class="card-title">{{ currentCountry }}</div>
              <div class="reset disable" @click="resetSelection" v-if="currentCountry == 'Africa'">Reset</div>
              <div class="reset" @click="resetSelection" v-else>Reset</div>
            </div>
            <div class="first-box" id="first-data">
              <div class="item">
                <div class="first-box-label">Last Update</div>
                <div class="first-box-value pr-0">{{ currentOverview.date_of_report | formatDate}}</div>
              </div>
              <div class="item">
                <div class="first-box-label">Population</div>
                <div class="first-box-value pr-0">{{ currentOverview.population | formatMillions}}</div>
              </div>
              <div class="item">
                <div class="bar" v-if="currentOverview.total_vaccinations < currentVaccinesBought.grand_total "
                  :style="{width: (currentOverview.total_vaccinations /  currentVaccinesBought.grand_total) * 100 + '%'}">
                </div>
                <div class="first-box-label">Total Vaccinations Administered</div>
                <div class="first-box-value"> {{ currentOverview.total_vaccinations | formatMillions}}</div>
              </div>
              <div class="item" v-if="currentCountry !== 'Africa'">
                <div class="bar vaccine-received-bar"
                  :style="{width: currentVaccinesBought.grand_total / currentVaccinesBought.grand_total * 100 + '%'}">
                </div>
                <div class="first-box-label">Total Vaccines Received</div>
                <!-- <div class="first-box-value">{{ currentVaccinesBought.grand_total | formatMillions}}</div> -->
                <div class="first-box-value">{{currentVaccinesBought.donated + currentVaccinesBought.bought + currentVaccinesBought.covax | formatMillions}}</div>
              </div>
              <div class="item">
                <div class="first-box-label">Total Vaccinations per 100 People</div>
                <div class="first-box-value pr-0">{{ currentOverview.total_vaccinations_per_hundred | formatNumber}}</div>
              </div>
            </div>
            <!-- <div class="box-content">
              <div class="right-main-label">Last Update:</div>
              <div class="right-main-value">{{ currentOverview.date_of_report}}</div>
              <div class="right-main-label">Population:</div>
              <div class="right-main-value">{{ currentOverview.population | formatMillions}}</div>
              <div class="right-main-label">Vaccinations Administered:</div>
              <div class="right-main-value">
                <div class="vaccine-bar vaccine-bar-top vaccine-bar-top-green"
                  :style="{width: (currentOverview.total_vaccinations /  currentVaccinesBought.grand_total) * 100 + '%'}">
                  {{ currentOverview.total_vaccinations | formatMillions}}</div>
              </div>
              <div class="right-main-label">Vaccines Received:</div>
              <div class="right-main-value">
                <div class="vaccine-bar vaccine-bar-top"
                  :style="{width: currentVaccinesBought.grand_total / currentVaccinesBought.grand_total * 100 + '%'}">{{
                  currentVaccinesBought.grand_total | formatMillions}}</div>
              </div>
              <div class="right-main-label">Vaccinations per 100:</div>
              <div class="right-main-value">{{ currentOverview.total_vaccinations_per_hundred | formatNumber}}</div>
            </div> -->
            <div class="source-section">
              <div class="source-section-left">
                <span>Source: <a href="https://www.africadatahub.org/" target="_blank">Africa Data Hub (by Media Hack Collective)</a> </span>
              </div>
              <div class="source-section-right">
                <!-- <span>
                  <a @click="embeddedCode"  class="embed">Embed</a>
                  <a href="https://api.mediahack.co.za/adh/countries.csv" class="download-data" download>Download data</a>
                </span> -->
              </div>
            </div>

          </div>

          <div class="vaccines-data" v-if="currentCountry !== 'Africa'">
            <div class="vaccine-box">
              <div class="box-sub-title">Vaccine sources</div>
              <div class="first-box">
                <div class="item">
                  <div class="bar covax-bar"
                    :style="{width: currentVaccinesBought.covax / (maxSources * 1.2) * 100 + '%'}"></div>
                  <div class="first-box-label">Covax</div>
                  <div class="first-box-value" v-if="currentVaccinesBought.covax < 1">{{currentVaccinesBought.covax | formatNumber}}</div>
                  <div class="first-box-value" v-if="currentVaccinesBought.covax > 0">{{currentVaccinesBought.covax | formatMillions}}</div>
                </div>
                <div class="item">
                  <div class="bar bought-bar"
                    :style="{width: currentVaccinesBought.bought / (maxSources * 1.2) * 100 + '%'}"></div>
                  <div class="first-box-label">Bought</div>
                  <div class="first-box-value" v-if="currentVaccinesBought.bought < 1"> {{currentVaccinesBought.bought | formatNumber}}</div>
                  <div class="first-box-value" v-if="currentVaccinesBought.bought > 0"> {{currentVaccinesBought.bought | formatMillions}}</div>
                </div>
                <div class="item">
                  <div class="bar donation-bar"
                    :style="{width: currentVaccinesBought.donated / (maxSources * 1.2) * 100 + '%'}"></div>
                  <div class="first-box-label">Donation</div>
                  <div class="first-box-value" v-if="currentVaccinesBought.donated < 1">
                    {{currentVaccinesBought.donated | formatNumber}}</div>
                  <div class="first-box-value" v-if="currentVaccinesBought.donated > 0">
                    {{currentVaccinesBought.donated | formatMillions}}</div>
                </div>
                <div class="item">
                  <div class="bar total-bar"
                    :style="{width: 100 + '%'}"></div>
                  <div class="first-box-label">Total Vaccines Received</div>
                  <div class="first-box-value" v-if="currentVaccinesBought.donated < 1">
                    {{currentVaccinesBought.donated + currentVaccinesBought.bought + currentVaccinesBought.covax | formatNumber}}</div>
                  <div class="first-box-value" v-if="currentVaccinesBought.donated > 0">
                    {{currentVaccinesBought.donated + currentVaccinesBought.bought + currentVaccinesBought.covax | formatMillions}}</div>
                </div>
              </div>
              <div class="vaccine-sources">

              </div>
              <div class="source-section">
                <div class="source-section-left">
                  <span>Source: <a href="https://www.africadatahub.org/" target="_blank" >Africa Data Hub (by Media Hack Collective)</a> </span>
                </div>
                <div class="source-section-right">
                  <!-- <span>
                    <a @click="embeddedCode" class="embed">Embed</a>
                    <a href="https://api.mediahack.co.za/adh/countries.csv" class="download-data" download>Download data</a>
                  </span> -->
                </div>
              </div>
            </div>
            <div class="vaccine-box last-vaccine-box">
              <div class="box-sub-title">Vaccine types</div>
              <div class="first-box">
                <div class="item">
                  <div class="bar"
                  v-if="currentVaccinesReceived.Covaxin"
                  :style="{width: currentVaccinesReceived.Covaxin / (currentVaccinesBought.donated + currentVaccinesBought.bought + currentVaccinesBought.covax ) * 100 + '%' }"></div>
                  <div class="first-box-label">Covaxin</div>
                  <div class="first-box-value" v-if="currentVaccinesReceived.Covaxin < 1"> {{currentVaccinesReceived.Covaxin | formatNumber}}</div>
                  <div class="first-box-value" v-if="currentVaccinesReceived.Covaxin > 0">{{currentVaccinesReceived.Covaxin | formatMillions}}</div>
                </div>
                <div class="item">
                  <div class="bar jj-bar"
                  v-if="currentVaccinesReceived.Johnson_and_Johnson"
                  :style="{width: currentVaccinesReceived.Johnson_and_Johnson / (currentVaccinesBought.donated + currentVaccinesBought.bought + currentVaccinesBought.covax ) * 100 + '%' }"></div>
                  <div class="first-box-label">Johnson & Johnson</div>
                  <div class="first-box-value"  v-if="currentVaccinesReceived.Johnson_and_Johnson < 1">{{currentVaccinesReceived.Johnson_and_Johnson | formatNumber}}</div>
                  <div class="first-box-value"  v-if="currentVaccinesReceived.Johnson_and_Johnson > 0"> {{currentVaccinesReceived.Johnson_and_Johnson | formatMillions}}</div>
                </div>
                <div class="item">
                  <div class="bar"
                  v-if="currentVaccinesReceived['Moderna']"
                  :style="{width: currentVaccinesReceived.Moderna / (currentVaccinesBought.donated + currentVaccinesBought.bought + currentVaccinesBought.covax ) * 100 + '%' }"></div>
                  <div class="first-box-label">Moderna</div>
                  <div class="first-box-value" v-if="currentVaccinesReceived['Moderna'] < 1">{{currentVaccinesReceived['Moderna'] | formatNumber}}</div>
                  <div class="first-box-value" v-if="currentVaccinesReceived['Moderna'] > 0">{{currentVaccinesReceived['Moderna'] | formatMillions}}</div>
                </div>
                <div class="item">
                  <div class="bar oxford-bar"
                  v-if="currentVaccinesReceived['Oxford_AstraZeneca']"
                  :style="{width: currentVaccinesReceived['Oxford_AstraZeneca'] / (currentVaccinesBought.donated + currentVaccinesBought.bought + currentVaccinesBought.covax ) * 100 + '%' }"></div>
                  <div class="first-box-label">Oxford-AstraZeneca</div>
                  <div class="first-box-value" v-if="currentVaccinesReceived['Oxford_AstraZeneca'] < 1">{{currentVaccinesReceived['Oxford_AstraZeneca'] | formatNumber}}</div>
                  <div class="first-box-value"v-if="currentVaccinesReceived['Oxford_AstraZeneca'] > 0">{{currentVaccinesReceived['Oxford_AstraZeneca'] | formatMillions}}</div>
                </div>
                <div class="item">
                  <div class="bar oxford-bar"
                  v-if="currentVaccinesReceived['Pfizer_BioNTech']"
                  :style="{width: currentVaccinesReceived['Pfizer_BioNTech'] / (currentVaccinesBought.donated + currentVaccinesBought.bought + currentVaccinesBought.covax ) * 100 + '%' }"></div>
                  <div class="first-box-label">Pfizer-BioNTech</div>
                  <div class="first-box-value" v-if="currentVaccinesReceived['Pfizer_BioNTech'] < 1">{{currentVaccinesReceived['Pfizer_BioNTech'] | formatNumber}}</div>
                  <div class="first-box-value" v-if="currentVaccinesReceived['Pfizer_BioNTech'] > 0">{{currentVaccinesReceived['Pfizer_BioNTech'] | formatMillions}}</div>
                </div>
                <div class="item">
                  <div class="bar sinopharm-bar"
                  v-if="currentVaccinesReceived['Sinopharm']"
                  :style="{width: currentVaccinesReceived.Sinopharm / (currentVaccinesBought.donated + currentVaccinesBought.bought + currentVaccinesBought.covax ) * 100 + '%' }"></div>
                  <div class="first-box-label">Sinopharm</div>
                  <div class="first-box-value" v-if="currentVaccinesReceived['Sinopharm'] < 1"> {{currentVaccinesReceived['Sinopharm'] | formatNumber}}</div>
                  <div class="first-box-value" v-if="currentVaccinesReceived['Sinopharm'] > 0"> {{currentVaccinesReceived['Sinopharm'] | formatMillions}}</div>
                </div>
                <div class="item">
                  <div class="bar sinopharm-bar"
                  v-if="currentVaccinesReceived['Sinovac']"
                  :style="{width: currentVaccinesReceived.Sinovac / (currentVaccinesBought.donated + currentVaccinesBought.bought + currentVaccinesBought.covax ) * 100 + '%' }"></div>
                  <div class="first-box-label">Sinovac</div>
                  <div class="first-box-value" v-if="currentVaccinesReceived['Sinovac'] < 1"> {{currentVaccinesReceived['Sinovac'] | formatNumber}}</div>
                  <div class="first-box-value" v-if="currentVaccinesReceived['Sinovac'] > 0">{{currentVaccinesReceived['Sinovac'] | formatMillions}}</div>
                </div>
                <div class="item">
                  <div class="bar"
                  v-if="currentVaccinesReceived['Sputnik_V']"
                  :style="{width: currentVaccinesReceived['Sputnik_V'] / (currentVaccinesBought.donated + currentVaccinesBought.bought + currentVaccinesBought.covax ) * 100 + '%' }"></div>
                  <div class="first-box-label">Sputnik V</div>
                  <div class="first-box-value" v-if="currentVaccinesReceived['Sputnik_V'] < 1">{{currentVaccinesReceived['Sputnik_V'] | formatNumber}}</div>
                  <div class="first-box-value" v-if="currentVaccinesReceived['Sputnik_V'] > 0">{{currentVaccinesReceived['Sputnik_V'] | formatMillions}}</div>
                </div>
              </div>
              <div class="source-section ">
                <div class="source-section-left">
                  <span>Source: <a href="https://www.africadatahub.org/" target="_blank" >Africa Data Hub (by Media Hack Collective)</a> </span>
                </div>
                <div class="source-section-right">
                  <!-- <span>
                    <a @click="embeddedCode" class="embed">Embed</a>
                    <a href="https://api.mediahack.co.za/adh/countries.csv" class="download-data" download>Download data</a>
                  </span> -->
                </div>
              </div>
            </div>
          </div>
          <!-- africa -->
          <div class="vaccines-data" v-if="currentCountry == 'Africa'">
            <div class="vaccine-box">
              <div class="box-sub-title">Vaccine sources</div>
              <div class="first-box">
                <div class="item">
                  <div class="bar covax-bar"
                    :style="{width: africaOverviewTypes.covax / (africaOverviewTypes.donated + africaOverviewTypes.bought + africaOverviewTypes.covax) * 100 + '%'}"></div>
                  <div class="first-box-label">Covax</div>
                  <div class="first-box-value" v-if="africaOverviewTypes.covax < 1">{{africaOverviewTypes.covax | formatNumber}}</div>
                  <div class="first-box-value" v-if="africaOverviewTypes.covax > 0">{{africaOverviewTypes.covax | formatMillions}}</div>
                </div>
                <div class="item">
                  <div class="bar bought-bar"
                    :style="{width: africaOverviewTypes.bought / (africaOverviewTypes.donated + africaOverviewTypes.bought + africaOverviewTypes.covax) * 100 + '%'}"></div>
                  <div class="first-box-label">Bought</div>
                  <div class="first-box-value" v-if="africaOverviewTypes.bought < 1"> {{africaOverviewTypes.bought | formatNumber}}</div>
                  <div class="first-box-value" v-if="africaOverviewTypes.bought > 0"> {{africaOverviewTypes.bought | formatMillions}}</div>
                </div>
                <div class="item">
                  <div class="bar donation-bar"
                    :style="{width: africaOverviewTypes.donated / (africaOverviewTypes.donated + africaOverviewTypes.bought + africaOverviewTypes.covax) * 100 + '%'}"></div>
                  <div class="first-box-label">Donation</div>
                  <div class="first-box-value" v-if="africaOverviewTypes.donated < 1">
                    {{africaOverviewTypes.donated | formatNumber}}</div>
                  <div class="first-box-value" v-if="africaOverviewTypes.donated > 0">
                    {{africaOverviewTypes.donated | formatMillions}}</div>
                </div>
                <div class="item">
                  <div class="bar total-bar"
                    :style="{width: 100 + '%'}"></div>
                  <div class="first-box-label">Total Vaccines Received</div>
                  <div class="first-box-value" v-if="africaOverviewTypes.donated < 1">
                    {{africaOverviewTypes.donated + africaOverviewTypes.bought + africaOverviewTypes.covax | formatNumber}}</div>
                  <div class="first-box-value" v-if="africaOverviewTypes.donated > 0">
                    {{africaOverviewTypes.donated + africaOverviewTypes.bought + africaOverviewTypes.covax | formatMillions}}</div>
                </div>
              </div>
              <div class="vaccine-sources">

              </div>
              <div class="source-section">
                <div class="source-section-left">
                  <span>Source: <a href="https://www.africadatahub.org/" target="_blank" >Africa Data Hub (by Media Hack Collective)</a> </span>
                </div>
                <div class="source-section-right">
                  <!-- <span>
                    <a @click="embeddedCode" class="embed">Embed</a>
                    <a href="https://api.mediahack.co.za/adh/countries.csv" class="download-data" download>Download data</a>
                  </span> -->
                </div>
              </div>
            </div>
            <div class="vaccine-box last-vaccine-box">
              <div class="box-sub-title">Vaccine types</div>
              <div class="first-box">
                <div class="item">
                  <div class="bar "
                  v-if="africaOverviewSource.Covaxin"
                  :style="{width: africaOverviewSource.Covaxin / (africaOverviewTypes.donated + africaOverviewTypes.bought + africaOverviewTypes.covax ) * 100 + '%' }"></div>
                  <div class="first-box-label">Covaxin</div>
                  <div class="first-box-value" v-if="africaOverviewSource.Covaxin < 1"> {{africaOverviewSource.Covaxin | formatNumber}}</div>
                  <div class="first-box-value" v-if="africaOverviewSource.Covaxin > 0">{{africaOverviewSource.Covaxin | formatMillions}}</div>
                </div>
                <div class="item">
                  <div class="bar jj-bar"
                  v-if="africaOverviewSource.Johnson_and_Johnson"
                  :style="{width: africaOverviewSource.Johnson_and_Johnson / (africaOverviewTypes.donated + africaOverviewTypes.bought + africaOverviewTypes.covax ) * 100 + '%' }"></div>
                  <div class="first-box-label">Johnson & Johnson</div>
                  <div class="first-box-value"  v-if="africaOverviewSource.Johnson_and_Johnson < 1">{{africaOverviewSource.Johnson_and_Johnson | formatNumber}}</div>
                  <div class="first-box-value"  v-if="africaOverviewSource.Johnson_and_Johnson > 0"> {{africaOverviewSource.Johnson_and_Johnson | formatMillions}}</div>
                </div>
                <div class="item">
                  <div class="bar"
                  v-if="africaOverviewSource['Moderna']"
                  :style="{width: africaOverviewSource.Moderna / (africaOverviewTypes.donated + africaOverviewTypes.bought + africaOverviewTypes.covax ) * 100 + '%' }"></div>
                  <div class="first-box-label">Moderna</div>
                  <div class="first-box-value" v-if="africaOverviewSource['Moderna'] < 1">{{africaOverviewSource['Moderna'] | formatNumber}}</div>
                  <div class="first-box-value" v-if="africaOverviewSource['Moderna'] > 0">{{africaOverviewSource['Moderna'] | formatMillions}}</div>
                </div>
                <div class="item">
                  <div class="bar oxford-bar"
                  v-if="africaOverviewSource['Oxford_AstraZeneca']"
                  :style="{width: africaOverviewSource['Oxford_AstraZeneca'] / (africaOverviewTypes.donated + africaOverviewTypes.bought + africaOverviewTypes.covax ) * 100 + '%' }"></div>
                  <div class="first-box-label">Oxford-AstraZeneca</div>
                  <div class="first-box-value" v-if="africaOverviewSource['Oxford_AstraZeneca'] < 1">{{africaOverviewSource['Oxford_AstraZeneca'] | formatNumber}}</div>
                  <div class="first-box-value"v-if="africaOverviewSource['Oxford_AstraZeneca'] > 0">{{africaOverviewSource['Oxford_AstraZeneca'] | formatMillions}}</div>
                </div>
                <div class="item">
                  <div class="bar oxford-bar"
                  v-if="africaOverviewSource['Pfizer_BioNTech']"
                  :style="{width: africaOverviewSource['Pfizer_BioNTech'] / (africaOverviewTypes.donated + africaOverviewTypes.bought + africaOverviewTypes.covax ) * 100 + '%' }"></div>
                  <div class="first-box-label">Pfizer-BioNTech</div>
                  <div class="first-box-value" v-if="africaOverviewSource['Pfizer_BioNTech'] < 1">{{africaOverviewSource['Pfizer_BioNTech'] | formatNumber}}</div>
                  <div class="first-box-value" v-if="africaOverviewSource['Pfizer_BioNTech'] > 0">{{africaOverviewSource['Pfizer_BioNTech'] | formatMillions}}</div>
                </div>
                <div class="item">
                  <div class="bar sinopharm-bar"
                  v-if="africaOverviewSource['Sinopharm']"
                  :style="{width: africaOverviewSource.Sinopharm / (africaOverviewTypes.donated + africaOverviewTypes.bought + africaOverviewTypes.covax ) * 100 + '%' }"></div>
                  <div class="first-box-label">Sinopharm</div>
                  <div class="first-box-value" v-if="africaOverviewSource['Sinopharm'] < 1"> {{africaOverviewSource['Sinopharm'] | formatNumber}}</div>
                  <div class="first-box-value" v-if="africaOverviewSource['Sinopharm'] > 0"> {{africaOverviewSource['Sinopharm'] | formatMillions}}</div>
                </div>
                <div class="item">
                  <div class="bar sinopharm-bar"
                  v-if="africaOverviewSource['Sinovac']"
                  :style="{width: africaOverviewSource.Sinovac / (africaOverviewTypes.donated + africaOverviewTypes.bought + africaOverviewTypes.covax ) * 100 + '%' }"></div>
                  <div class="first-box-label">Sinovac</div>
                  <div class="first-box-value" v-if="africaOverviewSource['Sinovac'] < 1"> {{africaOverviewSource['Sinovac'] | formatNumber}}</div>
                  <div class="first-box-value" v-if="africaOverviewSource['Sinovac'] > 0">{{africaOverviewSource['Sinovac'] | formatMillions}}</div>
                </div>
                <div class="item">
                  <div class="bar"
                  v-if="africaOverviewSource['Sputnik_V']"
                  :style="{width: africaOverviewSource['Sputnik_V'] / (africaOverviewTypes.donated + africaOverviewTypes.bought + africaOverviewTypes.covax ) * 100 + '%' }"></div>
                  <div class="first-box-label">Sputnik V</div>
                  <div class="first-box-value" v-if="africaOverviewSource['Sputnik_V'] < 1">{{africaOverviewSource['Sputnik_V'] | formatNumber}}</div>
                  <div class="first-box-value" v-if="africaOverviewSource['Sputnik_V'] > 0">{{africaOverviewSource['Sputnik_V'] | formatMillions}}</div>
                </div>
              </div>
              <div class="source-section ">
                <div class="source-section-left">
                  <span>Source: <a href="https://www.africadatahub.org/" target="_blank" >Africa Data Hub (by Media Hack Collective)</a> </span>
                </div>
                <div class="source-section-right">
                  <!-- <span>
                    <a @click="embeddedCode" class="embed">Embed</a>
                    <a href="https://api.mediahack.co.za/adh/countries.csv" class="download-data" download>Download data</a>
                  </span> -->
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>

      <!-- Modal -->
      <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Embeded Code</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body">
              <div id="iframe"></div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

  <!--footer section-->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <span>© 2021 Africa Data Hub. Open Cities Labs is a non-profit organisation DSD: 255-261NPO / PBO (18A): 930067929 <br>
            The ADH project is Licensed under a Creative Commons Attribution 4.0 International License.</span>
        </div>
      </div>
    </div>
  </footer>
  <!--footer section-->

  <script src="app.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>

</html>