<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <div id="app">
    <div class="loading-overlay" v-if="loading"><img src="images/loading.svg"></div>
    <div class="tooltip" v-html="tooltipContent"></div>
    <div class="header">
      <div class="header-inner">
        <div class="header-inner-title">Vaccines & Vaccinations in Africa</div>
        <div class="introduction">Select a country from the list below to see details.</div>
        <nav id="nav" >
          <div class="nav-item dropdown" @click="countryDropdown = !countryDropdown">
            Choose Country<img class="select-arrow" alt="down-arrow" src="images/down-arrow-white.svg">
            <div class="dropdown-menu" v-if="countryDropdown">
              <div class="dropdown-item" v-for="country in countries" @click="showCountry(country.iso_code)">{{
                country.location }}</div>
            </div>
          </div>
          <div class="nav-item chart-hidden">[ Nav Item ]</div>
          <div class="nav-item chart-hidden">[ Nav Item ]</div>
          <div class="nav-item chart-hidden">[ Nav Item ]</div>
          <div class="selected-box" v-if="currentCountry !== 'Africa'">
            <div class="selected-flag"
            :style="{'background-image': `url(https://hosted.mediahack.co.za/flags/${currentFlag})`}"></div>
            {{ currentCountry }} <div class="close-selected" @click="resetSelection"><img src="/images/close-circle.svg"></div>
          </div>
        </nav>
        
      </div>
    </div>
    <div class="container">

      <!-- <header>
                <h1>ADH Vaccine Tracker</h1>
                
              </header> -->

      



      
        
        <div class="chart div1">
         
          <div class="chart-wrap">
            <div class="chart-left">
              <div class="chart-number">{{ currentOverview.total_vaccinations_per_hundred }}</div>

            </div>

          </div>
          <div class="chart-title">Vaccinations per 100 people</div>
        </div>

        <div class="chart div2">
          
          <div class="chart-wrap">
            <div class="chart-left">
              <div class="chart-number">{{ currentOverview.total_vaccinations | formatMillions }}</div>

            </div>

          </div>
          <div class="chart-title">Total vaccinations</div>
        </div>

        <div class="main-box right-main div3">
          <div class="box-title">
            <div class="box-flag"
              :style="{'background-image': `url(https://hosted.mediahack.co.za/flags/${currentFlag})`}"></div>
            <div class="card-title">{{ currentCountry }}</div>
            <div class="reset" @click="resetSelection" v-if="currentCountry !== 'Africa'">Reset</div>
          </div>
          <div class="box-content">
            <div class="right-main-label">Last Update:</div>
            <div class="right-main-value">{{ currentOverview.date_of_report | formatDate}}</div>
            <div class="right-main-label">Population:</div>
            <div class="right-main-value">{{ currentOverview.population | formatMillions}}</div>
            <div class="right-main-label">Vaccinations Administered:</div>
            <div class="right-main-value">
              <div class="vaccine-bar vaccine-bar-top vaccine-bar-top-green" :style="{width: (currentOverview.total_vaccinations /  currentVaccinesBought.grand_total) * 100 + '%'}">{{ currentOverview.total_vaccinations | formatMillions}}</div>
            </div>
            <div class="right-main-label" v-if="currentCountry !== 'Africa'">Vaccines Received:</div>
            <div class="right-main-value" v-if="currentCountry !== 'Africa'">
              <div class="vaccine-bar vaccine-bar-top" :style="{width: currentVaccinesBought.grand_total / currentVaccinesBought.grand_total * 100 + '%'}">{{ currentVaccinesBought.grand_total | formatMillions}}</div>
            </div>
            <div class="right-main-label">Vaccinations per 100:</div>
            <div class="right-main-value">{{ currentOverview.total_vaccinations_per_hundred | formatNumber}}</div>
            <!-- <div class="right-main-label">Total Vaccinations To Date:</div>
                    <div class="right-main-value">{{ currentOverview.total_vaccine_doses_to_date | formatNumber}}</div> -->

           

          </div>

          <div class="vaccines-data">
            <div class="box-sub-title" v-if="currentCountry !== 'Africa'">Vaccine Sources</div>
            <div class="vaccine-sources" v-if="currentCountry !== 'Africa'">
              
              <div class="vaccine-label">Via Covax</div>
              <div class="vaccine-number">
                <div class="vaccine-bar vaccine-bar-two" :style="{width: currentVaccinesBought.covax / (maxSources * 1.2) * 100 + '%'}"></div>
                <span class="vaccine-bar-label" v-if="currentVaccinesBought.covax < 1">{{currentVaccinesBought.covax | formatNumber}}</span>
                <span class="vaccine-bar-label" v-if="currentVaccinesBought.covax > 0">{{currentVaccinesBought.covax | formatMillions}}</span>
                
                </div>

              <div class="vaccine-label">Bought</div>
              <div class="vaccine-number">
                <div class="vaccine-bar vaccine-bar-two" :style="{width: currentVaccinesBought.bought / (maxSources * 1.2) * 100 + '%'}"></div>
                <span class="vaccine-bar-label" v-if="currentVaccinesBought.bought < 1">{{currentVaccinesBought.bought | formatNumber}}</span>
                <span class="vaccine-bar-label" v-if="currentVaccinesBought.bought > 0">{{currentVaccinesBought.bought | formatMillions}}</span>
              </div>
              
                <div class="vaccine-label">Via donation</div>
              <div class="vaccine-number"><div class="vaccine-bar vaccine-bar-two" :style="{width: currentVaccinesBought.donated / (maxSources * 1.2) * 100 + '%'}"></div>
              <span class="vaccine-bar-label" v-if="currentVaccinesBought.donated < 1">{{currentVaccinesBought.donated | formatNumber}}</span>
              <span class="vaccine-bar-label" v-if="currentVaccinesBought.donated > 0">{{currentVaccinesBought.donated | formatMillions}}</span>
            </div>

            <div class="vaccine-label">Total received</div>
              <div class="vaccine-number">
              <span class="vaccine-bar-label" v-if="currentVaccinesBought.donated < 1">{{currentVaccinesBought.donated + currentVaccinesBought.bought + currentVaccinesBought.covax | formatNumber}}</span>
              <span class="vaccine-bar-label" v-if="currentVaccinesBought.donated > 0">{{currentVaccinesBought.donated + currentVaccinesBought.bought + currentVaccinesBought.covax | formatMillions}}</span>
            </div>

            </div>
            <div class="box-sub-title" v-if="currentCountry !== 'Africa'">Vaccines in Use</div>
            <div class="vaccine-sources" v-if="currentCountry !== 'Africa'">
              <div class="vaccine-label">Covaxin</div>
              <div class="vaccine-number">
                <div class="vaccine-bar" :style="{width: currentVaccinesReceived.Covaxin / (maxVaccines * 1.2) * 100 + '%' }"></div>
                <span class="vaccine-bar-label" v-if="currentVaccinesReceived['Covaxin'] < 1">{{currentVaccinesReceived.Covaxin | formatNumber}}</span>
                <span class="vaccine-bar-label" v-if="currentVaccinesReceived['Covaxin'] > 0">{{currentVaccinesReceived.Covaxin | formatMillions}}</span>
              </div>

              <div class="vaccine-label">Johnson & Johnson</div>
              <div class="vaccine-number">
                <div class="vaccine-bar" :style="{width: currentVaccinesReceived['Johnson & Johnson'] / (maxVaccines * 1.2) * 100 + '%' }"></div>
                <span class="vaccine-bar-label" v-if="currentVaccinesReceived['Johnson & Johnson'] < 1">{{currentVaccinesReceived['Johnson & Johnson'] | formatNumber}}</span>
                <span class="vaccine-bar-label" v-if="currentVaccinesReceived['Johnson & Johnson'] > 0">{{currentVaccinesReceived['Johnson & Johnson'] | formatMillions}}</span>
              </div>
              
              <div class="vaccine-label">Moderna</div>
              <div class="vaccine-number"><div class="vaccine-bar" :style="{width: currentVaccinesReceived.Moderna / (maxVaccines * 1.2) * 100 + '%' }"></div>
              <span class="vaccine-bar-label" v-if="currentVaccinesReceived['Moderna'] < 1">{{currentVaccinesReceived['Moderna'] | formatNumber}}</span>
              <span class="vaccine-bar-label" v-if="currentVaccinesReceived['Moderna'] > 0">{{currentVaccinesReceived['Moderna'] | formatMillions}}</span>
            </div>
              
              <div class="vaccine-label">Oxford-AstraZeneca</div>
              <div class="vaccine-number"><div class="vaccine-bar" :style="{width: currentVaccinesReceived['Oxford-AstraZeneca'] / (maxVaccines * 1.2) * 100 + '%' }"></div>
              <span class="vaccine-bar-label" v-if="currentVaccinesReceived['Oxford-AstraZeneca'] < 1">{{currentVaccinesReceived['Oxford-AstraZeneca'] | formatNumber}}</span>
              <span class="vaccine-bar-label" v-if="currentVaccinesReceived['Oxford-AstraZeneca'] > 0">{{currentVaccinesReceived['Oxford-AstraZeneca'] | formatMillions}}</span>
            </div>
              
              <div class="vaccine-label">Pfizer-BioNTech</div>
              <div class="vaccine-number"><div class="vaccine-bar" :style="{width: currentVaccinesReceived['Pfizer-BioNTech'] / (maxVaccines * 1.2) * 100 + '%' }"></div>
              <span class="vaccine-bar-label" v-if="currentVaccinesReceived['Pfizer-BioNTech'] < 1">{{currentVaccinesReceived['Pfizer-BioNTech'] | formatNumber}}</span>
              <span class="vaccine-bar-label" v-if="currentVaccinesReceived['Pfizer-BioNTech'] > 0">{{currentVaccinesReceived['Pfizer-BioNTech'] | formatMillions}}</span>
            </div>
              
              <div class="vaccine-label">Sinopharm</div>
              <div class="vaccine-number"><div class="vaccine-bar" :style="{width: currentVaccinesReceived.Sinopharm / (maxVaccines * 1.2) * 100 + '%' }"></div>
              <span class="vaccine-bar-label" v-if="currentVaccinesReceived['Sinopharm'] < 1">{{currentVaccinesReceived['Sinopharm'] | formatNumber}}</span>
              <span class="vaccine-bar-label" v-if="currentVaccinesReceived['Sinopharm'] > 0">{{currentVaccinesReceived['Sinopharm'] | formatMillions}}</span>
            </div>

            <div class="vaccine-label">Sinovac</div>
              <div class="vaccine-number"><div class="vaccine-bar" :style="{width: currentVaccinesReceived.Sinovac / (maxVaccines * 1.2) * 100 + '%' }"></div>
              <span class="vaccine-bar-label" v-if="currentVaccinesReceived['Sinovac'] < 1">{{currentVaccinesReceived['Sinovac'] | formatNumber}}</span>
              <span class="vaccine-bar-label" v-if="currentVaccinesReceived['Sinovac'] > 0">{{currentVaccinesReceived['Sinovac'] | formatMillions}}</span>
            </div>
              
              <div class="vaccine-label">Sputnik V</div>
              <div class="vaccine-number"><div class="vaccine-bar" :style="{width: currentVaccinesReceived['Sputnik V'] / (maxVaccines * 1.2) * 100 + '%' }"></div>
              <span class="vaccine-bar-label" v-if="currentVaccinesReceived['Sputnik V'] < 1">{{currentVaccinesReceived['Sputnik V'] | formatNumber}}</span>
              <span class="vaccine-bar-label" v-if="currentVaccinesReceived['Sputnik V'] > 0">{{currentVaccinesReceived['Sputnik V'] | formatMillions}}</span>
            </div>
            </div>

            <!-- Africa Data -->
            <div class="box-sub-title" v-if="currentCountry == 'Africa'">Vaccines in Use</div>
            <div class="vaccine-sources" v-if="currentCountry == 'Africa'">
              <div class="vaccine-label">Covaxin</div>
              <div class="vaccine-number vaccine-number-right">
                
                <span class="vaccine-bar-label" v-if="africaOverview['Covaxin'] < 1">{{africaOverview.Covaxin | formatNumber}}</span>
                <span class="vaccine-bar-label" v-if="africaOverview['Covaxin'] > 0">{{africaOverview.Covaxin | formatMillions}}</span>
              </div>

              <div class="vaccine-label">Johnson & Johnson</div>
              <div class="vaccine-number vaccine-number-right">
                
                <span class="vaccine-bar-label" v-if="africaOverview['Johnson & Johnson'] < 1">{{africaOverview['Johnson & Johnson'] | formatNumber}}</span>
                <span class="vaccine-bar-label" v-if="africaOverview['Johnson & Johnson'] > 0">{{africaOverview['Johnson & Johnson'] | formatMillions}}</span>
              </div>
              
              <div class="vaccine-label">Moderna</div>
              <div class="vaccine-number vaccine-number-right">
              <span class="vaccine-bar-label" v-if="africaOverview['Moderna'] < 1">{{africaOverview['Moderna'] | formatNumber}}</span>
              <span class="vaccine-bar-label" v-if="africaOverview['Moderna'] > 0">{{africaOverview['Moderna'] | formatMillions}}</span>
            </div>
              
              <div class="vaccine-label">Oxford-AstraZeneca</div>
              <div class="vaccine-number vaccine-number-right">
              <span class="vaccine-bar-label" v-if="africaOverview['Oxford-AstraZeneca'] < 1">{{africaOverview['Oxford-AstraZeneca'] | formatNumber}}</span>
              <span class="vaccine-bar-label" v-if="africaOverview['Oxford-AstraZeneca'] > 0">{{africaOverview['Oxford-AstraZeneca'] | formatMillions}}</span>
            </div>
              
              <div class="vaccine-label">Pfizer-BioNTech</div>
              <div class="vaccine-number vaccine-number-right">
              <span class="vaccine-bar-label" v-if="africaOverview['Pfizer-BioNTech'] < 1">{{africaOverview['Pfizer-BioNTech'] | formatNumber}}</span>
              <span class="vaccine-bar-label" v-if="africaOverview['Pfizer-BioNTech'] > 0">{{africaOverview['Pfizer-BioNTech'] | formatMillions}}</span>
            </div>
              
              <div class="vaccine-label">Sinopharm</div>
              <div class="vaccine-number vaccine-number-right">
              <span class="vaccine-bar-label" v-if="africaOverview['Sinopharm'] < 1">{{africaOverview['Sinopharm'] | formatNumber}}</span>
              <span class="vaccine-bar-label" v-if="africaOverview['Sinopharm'] > 0">{{africaOverview['Sinopharm'] | formatMillions}}</span>
            </div>

            <div class="vaccine-label">Sinovac</div>
              <div class="vaccine-number vaccine-number-right">
              <span class="vaccine-bar-label" v-if="currentVaccinesReceived['Sinovac'] < 1">{{africaOverview['Sinovac'] | formatNumber}}</span>
              <span class="vaccine-bar-label" v-if="africaOverview['Sinovac'] > 0">{{africaOverview['Sinovac'] | formatMillions}}</span>
            </div>
              
              <div class="vaccine-label">Sputnik V</div>
              <div class="vaccine-number vaccine-number-right">
              <span class="vaccine-bar-label" v-if="africaOverview['Sputnik V'] < 1">{{africaOverview['Sputnik V'] | formatNumber}}</span>
              <span class="vaccine-bar-label" v-if="africaOverview['Sputnik V'] > 0">{{africaOverview['Sputnik V'] | formatMillions}}</span>
            </div>
            </div>

          </div>
        </div>
       
       
      

  
        <div class="main-box left-main div4">
          <div id="map"></div>
          <div class="notes">
            <p>Africa Data Hub and the Media Hack Collective sourced the data for this dashboard from countries’ press releases, reputable news sources, the World Health Organisation and Gavi. Although we do our best to bring you updated data, sometimes there are reporting delays of several days.</p>
<p>We have noted that Rwanda has administered more vaccines than it has received. We are working on why this may be the case.</p>
<p>In the case of Algeria, where the donation variable is represented as a negative, that is indicative of Algeria’s donation to Tunisia.</p>
          </div>
        </div>
        <div class="chart div5">
          <div>
            <a href="https://www.africadatahub.org" target="_blank"><img src="images/adh.png" class="adh-logo"></a>
          </div>
          <div class="credit-text">
          Data: <a href="https://africadatahub.org" taret="_blank">Africa Data Hub</a> & <a href="https://mediahack.co.za" taret="_blank">Media Hack</a></div>
        <div>
          <a href="https://mediahack.co.za/" target="_blank"><img src="images/mhc.png" class="mhc-logo"></a>
        </div>        
      </div>

      <div class="chart div6">
        <div class="notes">
          <p>Africa Data Hub and the Media Hack Collective sourced the data for this dashboard from countries’ press releases, reputable news sources, the World Health Organisation and Gavi. Although we do our best to bring you updated data, sometimes there are reporting delays of several days.</p>
<p>We have noted that Rwanda has administered more vaccines than it has received. We are working on why this may be the case.</p>
<p>In the case of Algeria, where the donation variable is represented as a negative, that is indicative of Algeria’s donation to Tunisia.</p>
        </div>
      </div>
       
  



    </div>
  </div>

  <script src="app.js"></script>
</body>

</html>