@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap');
body {
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
  background: #eceff0;
  font-size: 90%;
  margin: 0px;
}
.loading-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 10000;
  text-align: center;
}
.loading-overlay img {
  width: 100px;
  margin-top: 30vh;
}
h1 {
  font-size: 2em;
  font-weight: 500;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
section {
  margin-top: 20px;
  margin-bottom: 20px;
}
.header {
  width: 100%;
  background: #f8f8f8;
}
.header-inner {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 150%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-inner-title {
  font-weight: 700;
  font-size: 32px;
  color: #094151;
}
.header-inner-subhead {
  font-size: 90%;
  margin-top: 10px;
}
#main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}
.main-box {
  background: #fff;
  padding: 5px;
  border-radius: 6px;
}
#small-charts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}
.chart {
  padding: 10px;
  background: #fff;
  border-radius: 6px;
}

.chart-hidden {
  display: none;
}
nav {
  display: grid;
  grid-template-columns: minmax(200px, auto) minmax(100px, 280px) 1fr 1fr;
  grid-gap: 20px;
  position: relative;
  margin-top: 10px;
}
.nav-item {
  background: #235563;
  padding: 10px 10px;
  border-radius: 6px;
  font-weight: 400;
  cursor: pointer;
  font-size: 60%;
  color: #fff;
}
.select-arrow {
  float: right;
  margin-top: 5px;
}
.dropdown {
  display: relative;
}
.dropdown-menu {
  position: absolute;
  left: 0px;
  top: 40px;
  background: #fff;
  height: 200px;
  overflow-y: auto;
  width: 250px;
  z-index: 4000;
  color: #000;
  font-size: 110%;
}
.dropdown-items {
  position: absolute;
  top: 45px;
  left: 0px;
  width: 195px;
  background: #000;
  padding: 0px;
  height: 0px;
  overflow-y: hidden;
  font-weight: 400;
}
.dropdown-selected {
  padding: 0px;
  height: auto;
  overflow-y: auto;
  max-height: 300px;
}

.dropdown-item {
  padding: 5px 10px;
  font-weight: 400;
  font-size: 90%;
}
.dropdown-item:hover {
  /* background: #c3dde4; */
  background: #E2E5E6;
}

#map {
  width: 100%;
  height: 500px;
  /* background: green; */

  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
}
.reset {
  float: right;
  background: #fff;
  padding: 5px 5px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  border: solid 1px #dadada;
  border-radius: 5px;
  cursor: pointer;
  color: #000000;
}
.reset:hover {
  background: #e7e7e7;
  /* color: #fff; */
}
.reset.disable, .reset.disable:hover{
  opacity: 0.4;
  cursor: not-allowed;
  background: transparent;
}

.chart-title {
  font-size: 90%;
}
.chart-wrap {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 5px;
}
.chart-number {
  font-size: 150%;
  padding: 8px 0px;
  color: #000;
}
.chart-change {
  font-size: 70%;
  color: gray;
}
.chart-right {
  border: solid 1px #eee;
  margin: 5px;
}
svg {
  pointer-events: all;
}

.leaflet-container {
  background: #fff;
}
.leaflet-control-attribution {
  display: none;
}
.tooltip {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.849);
  border-radius: 5px;
  font-size: 90%;
  border: solid 1px #eee;
  /* min-width: 200px; */
  z-index: 5000;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.31);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.31);
  display: none;
}

.tooltip .title {
  font-weight: 700;
  font-size: 110%;
  /* padding-bottom: 10px; */
  /* border-bottom: solid 1px #ebebeb; */
}
.tooltip .title * {
  display: inline-block;
}
.tooltip .title-text {
  transform: translate(0, -5px);
}
.flag {
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url('https://hosted.mediahack.co.za/flags/za.svg'); */
  border-radius: 50%;
  margin-right: 10px;
}
.tooltip-content {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.tooltip-label {
  font-weight: 500;
}
.tooltip-value {
  color: rgb(133, 133, 133);
}
.right-main {
  height: fit-content;
  background-color: transparent;
}
.right-main .box-title {
  font-size: 120%;
  padding-bottom: 10px;
  border-bottom: solid 1px #ebebeb;
  margin-bottom: 10px;
  font-weight: 700;
}
.right-main .box-title * {
  display: inline-block;
}
.box-sub-title {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 15px;
  border-bottom: 1px solid #EBEBEB;
  /* margin-top: 15px; */
}
.box-flag,
.selected-flag {
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://hosted.mediahack.co.za/flags/za.svg');
  border-radius: 50%;
  margin-right: 5px;
}
.box-flag img {
  /* width: 40px; */
  transform: translate(0px, -20px);
}

.selected-flag {
  width: 15px;
  height: 15px;
}
.card-title {
  /* width: 80%; */
  transform: translate(0px, -5px);
}
.box-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  line-height: 180%;
}
.right-main-label {
  color: #929292;
  font-weight: 500;
  border-bottom: solid 1px rgb(233, 233, 233);
  margin-bottom: 3px;
  font-size: 13px;
  font-weight: 500;
}
.right-main-value {
  color: rgb(0, 0, 0);
  text-align: right;
  border-bottom: solid 1px rgb(233, 233, 233);
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 13px;
}
.chart-top-title {
  display: grid;
  grid-template-columns: 2fr 10fr;
  font-size: 130%;
  font-weight: 500;
}
.vaccines-title {
  font-weight: 700;
  margin-top: 15px;
}
.vaccines-data {
  margin-top: 10px;
  width: 100%;
}
.vaccine-sources {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.vaccine-label {
  color: #929292;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid 1px rgb(233, 233, 233);
  font-size: 13px;
  font-weight: 500;
}
.vaccine-number {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  border-bottom: solid 1px rgb(233, 233, 233);
  font-weight: 500;
  font-size: 13px;
}
.vaccine-bar {
  background: indianred;
  /* padding: 5px; */
  float: left;
  min-height: 15px;
  /* min-width: 10px; */
  margin-right: 5px;
  transition: 0.5s all;
}
.vaccine-bar-two {
  background: #618591;
}
.vaccine-bar-top {
  /* width: 100%; */
  background: #C0F0FF;
  color: #000000;
  padding: 0px 5px;
  float: right;
  transition: 0.5s all;
  /* width: 100px; */
  max-width: 100%;
  font-weight: 500;
  font-size: 13px;
}
.vaccine-bar-top-green {
  background:#BDEECB;
  font-weight: 500;
  font-size: 13px;
  color: #000000;
}

.selected-box {
  font-size: 60%;
  padding: 8px 10px 10px 10px;
  background:  #DFE6E8;
  color: #000000;
  border-radius: 5px;
  font-weight: 500;
}
.selected-box * {
  display: inline-block;
}
.selected-flag {
  transform: translate(0, 2px);
}
.close-selected {
  display: relative;
  float: right;
  padding: 0px;
  cursor: pointer;

  transform: translate(0, 3px);
}
.close-selected img {
  width: 15px;
  margin: 0px;
}

@media only screen and (max-width: 600px) {
  #main {
    grid-template-columns: 1fr;
  }
  .left-main {
    display: none;
  }
  #small-charts {
    grid-template-columns: 1fr 1fr;
  }
}

.vaccine-box, .africa-box{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.last-vaccine-box{
  margin-bottom: 0px;
}
.source-section{
  width: 100%;
  box-sizing: border-box;
  margin: 8px 0px;
}
.source-section-left, .source-section-right{
  width: 50%;
  display: inline;
  position: relative;
}
.source-section-right{
  display: inline-flex;
  justify-content: flex-end;
  top: 8px;
  right: -16px;
}
.source-section-left{
  top: 6px;
}
.source-section-left span{
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #848484;
}
.source-section-left span a{
  text-decoration: underline;
  color: #848484;
}
.embed, .download-data{
  background: #DFE6E8;
  border-radius: 4px;
  padding: 5px 13px;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Work Sans';
  text-decoration: none;
}
.info-panel{
  padding: 5px;
  position: absolute;
  bottom: 0;
}
.source-section-wrapper{
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 15px;
}
p.title{
  font-weight: 500;
  font-size: 12px;
  color: #000000;
  font-family: 'Work Sans';
}
p.explainer{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.63);
  font-family: 'Work Sans';
  line-height: 170%;
}
.info-panel .source-section-wrapper .source-section .source-section-right{
  right: -32px;
}
/* .africa-box{
  width: 100%;
} */
.first-box{
  border-bottom: 1px solid #EBEBEB;
}
.first-box-label, .first-box-value{
  width: 50%;
  display: inline;
  position: relative;
}
.first-box-label{
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #929292;
  margin-left: 5px;
}
.first-box-value {
  float: right;
  text-align: right;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}
.item{
  padding: 5px 0px;
  position: relative;
  margin: 2px 0px;
}
.bar{
  position: absolute;
  background: #BDEECB;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 3px;

}
.vaccine-received-bar{
  background: #C0F0FF;
}
.covax-bar, .bought-bar, .donation-bar{
  background: #E1F8FF;
}
.total-bar{
  background: #C0F0FF;
}
.jj-bar{
  background: #C1B2EB;
}
.oxford-bar{
  background: #EEC698;
}
.sinopharm-bar{
  background: #E8F0B8;
}
.left-main{
  height: 842px;
  position: relative;
}
#iframe textarea{
  width: 100%;
}