@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap');
:root {
  --nav-color: #ffffff;
  --nav-text: #235563;
  --red: rgb(212, 97, 97);
}
body {
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
  background: #eceff0;
  font-size: 90%;
  margin: 0px;
}
a {
  color: var(--nav-text);
  font-weight: 700;
}
.loading-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 10000;
  text-align: center;
}
.loading-overlay img {
  width: 100px;
  margin-top: 30vh;
}

.introduction {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 0.9rem;
}
h1 {
  font-size: 2em;
  font-weight: 500;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.div1 {
  grid-column: 1 / span 1;
}
.div2 {
  grid-column: 2 / span 1;
}
.div3 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}
.div4 {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
}
.div5 {
  grid-column: 3 / span 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  font-size: 0.8rem;
  text-align: center;
}
.div5 img {
  height: 35px;
}
.div6 {
  grid-column: 1 / span 2;
  display: none;
}
img.mhc-logo {
  height: 25px;
  margin-top: 6px;
  float: right;
}
img.adh-logo {
  float: left;
}
.credit-text {
  margin-top: 10px;
}
section {
  margin-top: 20px;
  margin-bottom: 20px;
}
.header {
  width: 100%;
  background: #f8f8f8;
  border-bottom: solid 1px #ffffff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18);
}
.header-inner {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 150%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-inner-title {
  font-weight: 700;
  font-size: 32px;
  color: #094151;
}
.header-inner-subhead {
  font-size: 90%;
  margin-top: 10px;
}
#main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}
.main-box {
  background: #fff;
  padding: 5px;
  border-radius: 6px;
}
#small-charts {
  /* display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 20px;
  margin-top: 20px; */
}
.chart {
  padding: 10px;
  background: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18);
  text-align: center;
}

.chart-hidden {
  display: none;
}
nav {
  display: grid;
  grid-template-columns: minmax(200px, auto) minmax(100px, 280px) 1fr 1fr;
  grid-gap: 20px;
  position: relative;
  margin-top: 10px;
}
.nav-item {
  background: #235563;
  padding: 10px 10px;
  border-radius: 6px;
  font-weight: 400;
  cursor: pointer;
  font-size: 60%;
  color: #fff;
}
.select-arrow {
  float: right;
  margin-top: 5px;
}
.dropdown {
  display: relative;
}
.dropdown-menu {
  position: absolute;
  left: 0px;
  top: 40px;
  background: var(--nav-color);
  /* height: 200px;
  overflow-y: auto; */
  width: 250px;
  z-index: 4000;
  color: var(--nav-text);
  font-size: 110%;
  border: solid 1px lightgray;
  /* padding: 30px; */
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18);
}
.dropdown-items {
  position: absolute;
  top: 45px;
  left: 0px;
  width: 195px;
  background: #000;
  padding: 0px;
  height: 0px;
  overflow-y: hidden;
  font-weight: 400;
}
.dropdown-selected {
  padding: 0px;
  height: auto;
  overflow-y: auto;
  max-height: 300px;
}

.dropdown-item {
  padding: 5px 10px;
  font-weight: 400;
  font-size: 90%;
  border-bottom: solid 1px rgb(235, 235, 235);
}
.dropdown-item:hover {
  background: #c3dde4;
}

#map {
  width: 100%;
  height: 500px;
  /* background: green; */

  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
}
.reset {
  float: right;

  padding: 5px 10px;
  font-size: 70%;
  text-transform: uppercase;
  /* border: solid 1px #dadada; */
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  background: var(--red);
  color: #fff;
}
.reset:hover {
  background: #0f6279;
  /* color: #fff; */
}

.chart-title {
  font-size: 90%;
}
.chart-wrap {
  grid-gap: 5px;
  /* text-align: center; */
}
.chart-number {
  font-size: 1.6rem;
  padding: 8px 0px 0px;
  color: #235563;
  font-weight: 700;
  margin-bottom: 5px;
}
.chart-change {
  font-size: 70%;
  color: gray;
}
.chart-right {
  border: solid 1px #eee;
  margin: 5px;
}
svg {
  pointer-events: all;
}

.leaflet-container {
  background: #fff;
}
.leaflet-control-attribution {
  display: none;
}
.tooltip {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.849);
  border-radius: 5px;
  font-size: 90%;
  border: solid 1px #eee;
  /* min-width: 200px; */
  z-index: 5000;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.31);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.31);
  display: none;
}

.tooltip .title {
  font-weight: 700;
  font-size: 110%;
  /* padding-bottom: 10px; */
  /* border-bottom: solid 1px #ebebeb; */
}
.tooltip .title * {
  display: inline-block;
}
.tooltip .title-text {
  transform: translate(0, -5px);
}
.flag {
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url('https://hosted.mediahack.co.za/flags/za.svg'); */
  border-radius: 50%;
  margin-right: 10px;
}
.tooltip-content {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.tooltip-label {
  font-weight: 500;
}
.tooltip-value {
  color: rgb(133, 133, 133);
}
.right-main {
  padding: 20px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18);
}
.left-main {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.18);
}
.right-main .box-title {
  font-size: 120%;
  padding-bottom: 10px;
  border-bottom: solid 1px #ebebeb;
  margin-bottom: 10px;
  font-weight: 700;
}
.right-main .box-title * {
  display: inline-block;
}
.box-sub-title {
  font-size: 110%;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 15px;
}
.box-flag,
.selected-flag {
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://hosted.mediahack.co.za/flags/za.svg');
  border-radius: 50%;
  margin-right: 5px;
}
.box-flag img {
  /* width: 40px; */
  transform: translate(0px, -20px);
}

.selected-flag {
  width: 15px;
  height: 15px;
}
.card-title {
  /* width: 80%; */
  transform: translate(0px, -5px);
}
.box-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  line-height: 180%;
}
.right-main-label {
  font-weight: 500;
  border-bottom: solid 1px rgb(233, 233, 233);
  margin-bottom: 3px;
}
.right-main-value {
  color: rgb(129, 129, 129);
  text-align: right;
  border-bottom: solid 1px rgb(233, 233, 233);
  margin-bottom: 3px;
}
.chart-top-title {
  display: grid;
  grid-template-columns: 2fr 10fr;
  font-size: 130%;
  font-weight: 500;
}
.vaccines-title {
  font-weight: 700;
  margin-top: 15px;
}
.vaccines-data {
  margin-top: 10px;
  width: 100%;
}
.vaccine-sources {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.vaccine-label {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid 1px rgb(233, 233, 233);
}
.vaccine-number {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  border-bottom: solid 1px rgb(233, 233, 233);
  font-size: 100%;
}
.vaccine-number-right {
  /* background: red; */
  text-align: right;
}
.vaccine-bar {
  background: indianred;
  /* padding: 5px; */
  float: left;
  min-height: 15px;
  /* min-width: 10px; */
  margin-right: 5px;
  transition: 0.5s all;
}

.vaccine-bar-two {
  background: #618591;
}
.vaccine-bar-top {
  /* width: 100%; */
  background: #618590;
  color: #fff;
  font-size: 100%;
  padding: 0px 5px;
  float: right;
  transition: 0.5s all;
  /* width: 100px; */
  max-width: 100%;
  margin: 0px;
  transform: translate(0, -1.5px);
}
.vaccine-bar-top-green {
  background: rgb(1, 150, 1);
  /* padding: 0px; */
  margin: 0px;
}

.selected-box {
  font-size: 60%;
  padding: 8px 10px 10px 10px;
  background: #235563;
  color: #fff;
  border-radius: 5px;
}
.selected-box * {
  display: inline-block;
}
.selected-flag {
  transform: translate(0, 2px);
}
.close-selected {
  display: relative;
  float: right;
  padding: 0px;
  cursor: pointer;

  transform: translate(0, 3px);
}
.close-selected img {
  width: 15px;
  margin: 0px;
}
.notes {
  border-top: solid 1px rgb(233, 233, 233);
  padding-top: 20px;
  margin: 1rem;
  font-size: 0.8rem;
  line-height: 1.1rem;
  color: gray;
}

@media only screen and (max-width: 700px) {
  #main {
    /* grid-template-columns: 1fr; */
  }
  .left-main {
    display: none;
  }
  #small-charts {
    /* grid-template-columns: 1fr 1fr; */
  }
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .div3 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }
  .div5 {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
  }
  .notes {
    padding-top: 0px;
    border-top: none;
    font-size: 0.7rem;
    line-height: 1rem;
  }
  .div6 {
    display: block;
  }
  nav {
    grid-template-columns: 1fr;
  }
  .selected-box {
    display: none;
  }
}
